<widget id="com.kchristelke.kchristelke200825" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>К Христовой ёлке</name>
    <description>Текстовый квест по мотивам произведения Ф.М. Достоевского: "Мальчик у Христа на елке". </description>
    <author email="alexander1005@mail.ru" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <!-- Путь к главной странице -->
    <content src="index.html" />

    <!-- Иконка приложения -->
    <icon src="./icon.png" />

    <!-- Заставка -->
    <splash src="./splash.png" />

    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
